<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/female">Page 1</a></li>
      <li><a href="#" onclick="deleteData()"></a></li>
      <!-- Add a search form here -->
      <li>
        <form class="navbar-form navbar-left" action="/search" method="GET" >
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name = "search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </li>
     {{#if isLoggedIn}}
      <li><a href="/logout">Logout</a></li>
        {{#if isAdmin}} <li id="delete-btn" >
        <a href="/create"  >Create Product</a>
      </li>
      {{/if}}<!-- Add a Login link here -->
      {{else}}
      <li><a href="/login">Login</a></li>
      {{/if}}
    
      
    </ul>
  </div>
</nav>

<script>
</script>

</body>
</html>